<div class="container">
    <h1> ユーザ編集 </h1>

    <table>
    <%= form_for [:users, @user] do |f| %>

    <tr>
        <td> <p> 名前(姓・名) </p> </td>
    </tr>
    <tr>
        <td><p><%= f.text_field :last_name %><%= f.text_field :first_name %></p> </td>
    </tr>
    
    <tr>
        <td> <p> 名前(セイ・メイ) </p> </td>
    <tr>
    <tr>
        <td> <%= f.text_field :kana_last_name %><%= f.text_field :kana_first_name %> </td>
    </tr>
    
    <tr>
        <td>  郵便番号  </td>
    </tr>
    <tr>
        <td> <%= f.text_field :postal_code %></td>
    </tr>
    
    <tr>
        <td>  住所  </td>
    </tr>
    <tr>
        <td> <%= f.text_field :address %> </td> 
    </tr>
    
    <tr>
        <td>  電話番号  </td>
    </tr>
    <tr>
        <td> <%= f.text_field :phone %> </td>
    </tr>
    
    <tr>
        <td>  メールアドレス  </td>
    </tr>
    <tr>
        <td> <%= f.text_field :email %> </td>
    </tr>
    
    <tr> <td> <%= f.submit "登録" %> </td> </tr>
    
    <% end %>

    </table>
</div>