<div class="container">

    <%= form_for [:users, @user] do |f| %>
    
        <div class="panel panel-default", style="text-align: center;">
            
        <p> 名前(姓・名) </p> 
        <p><%= f.text_field :last_name %>　<%= f.text_field :first_name %></p> 
    
        <p> 名前(セイ・メイ) </p> 
        <p><%= f.text_field :kana_last_name %>　<%= f.text_field :kana_first_name %></p>

        <p>郵便番号</p>
        <p><%= f.text_field :postal_code %></p>

        <p>住所</p>
        <p><%= f.text_field :address %></p>  

        <p>電話番号</p>
        <p><%= f.text_field :phone %> </p>
    
        <p>メールアドレス</p>
        <p><%= f.text_field :email %></p>
        
        </div>

      <%= f.submit "登録", class: "btn btn-primary", :style=>"float:right;" %>  
    
    <% end %>

</div>