<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 3b6c6dac12615b234a1dbda5ddec79ea9c3b341d
<table>
<thead>
<tr>
    <th><p>ジャケット</p></th>
    <th><p>タイトル</p></th>
    <th><p>アーティスト</p></th>
    <th><p>在庫</p></th>
    <th></th>
</tr>
</thead>

<tbody>
    <% @item.each do |item| %>
<tr>

<td>
    <%= attachment_image_tag item, :jacket_image, :fill, 60, 60, fallback: "no_image.jpg" %>
</td>

<td>
    <%= item.title %>
</td>

<td>
    <%= item.artist.name %>
</td>

<td>
    <%= item.stock %>
</td>

<td>
    <%= link_to "show", users_item_path(item) %>
</td>

</tr>
    <% end %>
</tbody>
</table>
<<<<<<< HEAD
=======
    <%= render 'admins/items/list', item: @item %>
>>>>>>> 58863b48f94e1e08b6dc41f5fafa74f9c5b354d4
=======
>>>>>>> 3b6c6dac12615b234a1dbda5ddec79ea9c3b341d
