<div class="container">

    <div class="panel panel-primary">
      <table>
    <div class="col-xs-4">
          <p><%= @item.label.name %>・<%= @item.jenre.name %></p>

          <p><%= attachment_image_tag @item, :jacket_image, :fill, 60, 60, fallback: "/images/no_image.jpg" %></p>
    </div>

    <div class="col-xs-8">

          <p><%= @item.title %> - <%= @item.artist.name %></p>

          <p>￥<%= @item.price %>   <%= @item.status ? "販売中" : "売り切れ" %></p>

          <p>在庫数:<%= @item.stock %></p>

          <% @item.disks.each do |disk| %>
             <p>disk<%= @a += 1 %></p>
                  <% disk.songs.each do |song| %>
                        <br><%= song.title %></br>
                  <% end %>
                <hr>
            <% end %>
      </table>
      <div class="form",style="float:right;">
        <%= form_for [:users, @cart] do |f| %>
          <%= f.select :amount, @current_stock_array.collect {|p| [p]}, :prompt => "選択してください" %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに入れる" %>
        <% end %>
      </div>

    </div>
    
    </div>

</div>