<h2>ユーザ編集</h2>

    <%= form_with model: @user, url: admins_user_path(@user), local: true do |form| %>

        <p> 名前(姓・名)</p>
        <%= form.text_field :last_name %>
        <%= form.text_field :first_name %>
        
        <p> 名前(セイ・メイ) </p>
        <%= form.text_field :kana_last_name %>
        <%= form.text_field :kana_first_name %>
        
        <p> 郵便番号 </p>
        <%= form.text_field :postal_code %>
        
        <p> 住所 </p>
        <%= form.text_field :address %>
        
        <p> 電話番号 </p>
        <%= form.text_field :phone %>
        
        <p> メールアドレス </p>
        <%= form.text_field :email %>
        
        <%= form.submit "保存" %>
        
    <% end %>