<h2><%= @user.last_name %><%= @user.first_name %></h2>

<h2>ユーザ詳細</h2>

<h3>名前(漢字)</h3>
<%= @user.last_name %>
<%= @user.first_name %>

<h3>名前(カナ)</h3>
<%= @user.kana_last_name %>
<%= @user.kana_first_name %>

<h3>郵便番号</h3>
<%= @user.postal_code %>

<h3>住所</h3>
<%= @user.address %>

<h3>電話番号</h3>
<%= @user.phone %>

<h3>メールアドレス</h3>
<%= @user.email %>

<h3>ステータス</h3>


<h2>登録住所一覧</h2>

<% @user.addresses.each do |address| %>
    <%= address.prefectures %>
    <%= address.address %>
    <p>削除</p>
<% end %>

<h2>受注履歴</h2>

<% @user.orders.each do |order| %>
    <%= order.id %>
<% end %>

<%= link_to "編集", edit_admins_user_path(@user) %>