<h2><%= @user.last_name %><%= @user.first_name %></h2>

<h1>ユーザ詳細</h1>

<h2>名前(漢字)</h2>
<%= @user.last_name %>
<%= @user.first_name %>

<h2>名前(カナ)</h2>
<%= @user.kana_last_name %>
<%= @user.kana_first_name %>

<h2>郵便番号</h2>
<%= @user.postal_code %>

<h2>住所</h2>
<%= @user.address %>

<h2>電話番号</h2>
<%= @user.phone %>

<h2>メールアドレス</h2>
<%= @user.email %>

<h2>ステータス</h2>


<h1>登録住所一覧</h1>

<% @user.addresses.each do |address| %>
    <%= address.prefectures %>
    <%= address.address %>
    <p>削除</p>
<% end %>

<h1>受注履歴</h1>

<% @user.orders.each do |order| %>
    <%= order.id %>
<% end %>