<div class="container">

    
        <% @orders.each do |order| %>
             <div class="panel panel-default", style="height: 250px">
                 
                <div class='col-xs-4'>
                    <div><%= order.created_at.strftime('%Y/%m/%d') %></div>
                    
                        <div style="width:33%;float:left;">商品タイトル</div>
                        <div style="width:33%;float:left;">数</div>
                        <div style="width:33%;float:left;">合計金額</div>
                    
                    <% order.order_details.each do |order_detail| %>
                    
                        <div style="width:33%;float:left;"><%= order_detail.item.title %></div>
                        <div style="width:33%;float:left;"><%= order_detail.cd_amount %></div>
                        <div style="width:33%;float:left;"><p>￥<%= order_detail.item.price*order_detail.cd_amount %></p></div>
                    
                    <% end %>
                </div>
                
                <div class='col-xs-8'>
                    <p>注文番号:<%= order.id %></p>
                    
                    <p>ステータス:
                    <% if order.status == 0 %>
                        <p>商品準備中</p>
                    <% else %>
                        <p>出荷中</p>
                    <% end %>
                    </p>
                    
                    <p>支払方法
                    <% if order.payment == 0 %>
                        <p>代引き</p>
                    <% else %>
                        <p>銀行振り込み</p>
                    <% end %>
                    </p>
                    
                    <p>発送先:<%= order.postal_code %>-<%= order.address %></p>
                    
                    <p>合計金額:<%= order.total_price %></p>
                    
                </div>  
            </div>
        <% end %>
        <%= paginate(@orders) %>
  

</div>