<table>
 <%= link_to "新規登録", new_admins_item_path %>
<thead>
<tr>
    <th><p>ジャケット</p></th>
    <th><p>タイトル</p></th>
    <th><p>アーティスト</p></th>
    <th><p>在庫</p></th>
    <th></th>
</tr>
</thead>

<tbody>
    <% @cd.each do |cd| %>
<tr>

<td>
    <%= attachment_image_tag cd, :jacket_image, :fill, 60, 60, fallback: "no_image.jpg" %>
</td>

<td>
    <%= link_to cd.title, admins_item_path(cd) %>
</td>

<td>
    <%= cd.artist.name %>
</td>

<td>
    <%= cd.stock %>
</td>

<td>
    <%= link_to "編集", edit_admins_item_path(cd) %>
</td>
</tr>				
    <% end %>
</tbody>
</table>