<div class="container">
  <div class="row">
    <%= link_to "新規登録", new_admins_item_path, class: "btn btn-info" %>
    <hr>
    <% @item.each do |item| %>
              <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <%= attachment_image_tag item, :jacket_image, :fill, 150, 150, fallback: "no_image.jpg", size: "150x150" %>
              </div>
              <div class="col-sm-6">
                <h3><%= item.title %> - <%= item.artist.name %></h3>
                <p>在庫数: <%= item.stock %></p>
                <p><%= item.status ? "販売中" : "売り切れ" %></p>

<<<<<<< HEAD
<tbody>
    <% @item.each do |item| %>
<tr>

<td>
    <%= attachment_image_tag item, :jacket_image, :fill, 60, 60, fallback: "no_image.jpg" %>
</td>

<td>
    <%= link_to item.title, admins_item_path(item) %>
</td>

<td>
    <%= item.artist.name %>
</td>

<td>
    <%= item.stock %>
</td>

<td>
    <%= link_to "編集", edit_admins_item_path(item) %>
</td>
</tr>				
    <% end %>
</tbody>
</table>
=======
                <%= link_to "show", admins_item_path(item), class: "btn btn-success" %>
              </div>
            </div>

        </div>
      </div>
      </div>

    <% end %>
  </div>
</div>
>>>>>>> 58863b48f94e1e08b6dc41f5fafa74f9c5b354d4
