
<h2>商品詳細</h2>
<table>
    <%= @item.label.name %>
    <%= @item.jenre.name %>

    <%= attachment_image_tag @item, :jacket_image, :fill, 60, 60, fallback: "no_image.jpg" %>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3b6c6dac12615b234a1dbda5ddec79ea9c3b341d

    <%= @item.title %>
    <%= @item.artist.name %>

    <tr><p>￥</p><%= @item.price %></tr>
    <%= @item.status %>

    <% @item.disks.each do |disk| %>
        <% disk.songs.each do |song| %>
            <%= song.title %>
            <% end %>
    <% end %>
</table>
<<<<<<< HEAD
    
=======

    <%= @item.title %>
    <%= @item.artist.name %>

    <tr><p>￥</p><%= @item.price %></tr>
    <%= @item.status %>

    <% @songs.each do |song| %>
        <%= sond.title %>
    <% end %>
    </table>

>>>>>>> 58863b48f94e1e08b6dc41f5fafa74f9c5b354d4
=======

>>>>>>> 3b6c6dac12615b234a1dbda5ddec79ea9c3b341d
