
<h2>商品詳細</h2>
<table>
    <%= @cd.label.name %>
    <%= @cd.jenre.name %>

    <%= attachment_image_tag @cd, :jacket_image, :fill, 60, 60, fallback: "no_image.jpg" %>

    <%= @cd.title %>
    <%= @cd.artist.name %>
    
    <tr><p>￥</p><%= @cd.price %></tr>
    <%= @cd.status %>
    
    <% @songs.each do |song| %>
        <%= sond.title %>
    <% end %>
    </table>
    