<%= link_to "logout", destroy_admin_session_path, method: :delete %>

<p>アーティスト名</p>
<%= form_for [:admins, @name] do |f| %>
<%= f.text_field :name %>
<%= f.submit "登録" %>
<% end %>

<h2>アーティスト一覧</h2>
<% @artist.each do |artist| %>

<%= artist.name %>

<%= link_to "編集", edit_admins_artist_path(artist) %>

<% end %>
