<p>ジャンル名</p>
<%= form_for [:admins, @name] do |f| %>
<%= f.text_field :name %>
<%= f.submit "登録" %>
<% end %>

<h2>ジャンル一覧</h2>
<% @jenre.each do |jenre| %>

<%= jenre.name %>

<%= link_to "編集", edit_admins_jenre_path(jenre) %>

<% end %>