<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Pacor</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to ' 商品一覧',admins_items_path,class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to ' アーティスト',admins_artists_path,class: 'glyphicon glyphicon-user users' %></li>
          <li><%= link_to ' レーベル',admins_labels_path ,class: 'glyphicon glyphicon-book books'%></li>
          <li><%= link_to ' ジャンル',admins_jenres_path ,class: 'glyphicon glyphicon-book books'%></li>
          <li><%= link_to ' ユーザ一覧', admins_users_path %></li>
          <li><%= link_to ' 注文履歴', admins_orders_path %></li>
          <li><%= link_to ' logout', destroy_admin_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to ' top',users_items_path,class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to ' mypage',users_user_path(current_user),class: 'glyphicon glyphicon-link about' %></li>
          <li><%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-in sign_in'%></li>
          <li><%= link_to ' cart ', users_cart_items_path %></li>
        <% else %>
           <%= link_to "login", new_user_session_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>